body {
    background-color: gray;
    font-size: 40px;
    text-align: center;
}

.game-div {
    display: grid;
    grid-template-columns: auto;
    min-width: 980px;
}

.players {
    display: flex;
    justify-content: space-evenly;
}

.player {
    text-align: center;
}

.player-choice {
    padding: 20px;
}

.game-result {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-button {
    font-size: 60px;
    padding: 20px;
    margin: 20px;
}

.no-display {
    display: none;
}

.pink {
    color: pink;
}

.result {
    display: flex;
    flex-direction: row;
    padding: 30px;
    align-items: center;
}